{% extends 'base.html.twig' %}

{% block header %}
    {{ component('Navbar') }}
{% endblock %}

{% block main %}
    <main class="mx-6 my-12 sm:mx-36 sm:my-20">
        {{ component('ProductView', { product: product, backRouteName: backRouteName }) }}
    </main>
{% endblock %}