{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block main %}
    <main class="mx-6 my-12 sm:mx-36 sm:my-20">
        <h1 class="text-fcp-white text-2xl">Product edit page !</h1>
    </main>
{% endblock %}