{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block main %}
    <main class="mx-6 my-12 sm:mx-36 sm:my-20">
        <div class="fcp-card">
            <h2 class="text-xl text-fcp-white">{{ 'title.user.admin' | trans }}</h2>
            
            <div class="flex flex-col gap-5">
                {% set userHeader = [
                    { label: 'label.user.firstname', center: false },
                    { label: 'label.user.lastname', center: false },
                    { label: 'label.user.email', center: false },
                ] %}

                {% set userBody = userPagination | map(user => [
                    { content: user.firstName, center: false },
                    { content: user.lastName, center: false },
                    { content: user.email, center: false },
                ]) %}

                {% include 'partials/_table.html.twig' with { header: userHeader, body: userBody, pagination: userPagination } %}
            </div>
        </div>
    </main>
{% endblock %}