<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}Forecast Piano{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{{ asset('icons/favicon.png') }}">
    </head>

    <body class="font-fcp bg-fcp-blue-light">
        <header>
            {% block header %}{% endblock %}
        </header>

        
        {% block main %}{% endblock %}

        <footer class="relative">
            {% block footer %}{% endblock %}
            <div class="fixed bottom-0 right-0 z-50 flex flex-row-reverse gap-1 overflow-hidden">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        {% include 'partials/_flash.html.twig' with { message: message, type: type } %}
                    {% endfor %}
                {% endfor %}
            </div>
        </footer>
    </body>
</html>
