{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block content %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="{{ label }}">
                {{ message | trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        <p class="text-white">Home page !<p>
    </main>
{% endblock %}