{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="{{ label }}">
                {{ message | trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <p>Home page<p>
{% endblock %}